@import "../node_modules//bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules//font-awesome/css/font-awesome.min.css";

.bg-white {
    position: relative;
    width: 90%;
    border-radius: 5px;
    margin: 0 auto;
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
    top: 3px;
}